<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img
      width="80"
      alt="Angular Logo"
      src="./assets/CRL-logo2.png"
    />

    <div class="spacer"></div>

    <button name="option" class="asLink" id="{{opcion == 1?selectedState:unselectedState}}" (click)="sendSelection(1)">Editor</button><!--da error porque en la interpolación no dej-->
    <button name="option" class="asLink" id="{{opcion == 2?selectedState:unselectedState}}" (click)="sendSelection(2)">Reports</button>        
    <button name="option" class="asLink" id="{{opcion == 3?selectedState:unselectedState}}" (click)="sendSelection(3)">Documentation</button>
    <button name="option" class="asLink" id="{{opcion == 4?selectedState:unselectedState}}" (click)="sendSelection(4)">About us</button>     
      
</div>
<!--terminado-->