:host{
    background: #EDF2F7;
    /*background-image: radial-gradient( circle farthest-corner at 1.3% 2.8%,  rgba(239,249,249,1) 0%, rgba(182,199,226,1) 100.2% );*/
}

/*.color1 {color: #06060a;}
.color2 {color: #2a2f46;}
.color3 {color: #61658e;}
.color4 {color: #a2a0e4;}
.color5 {color: #dfd7ea;}*/

/*.color1 {color: #000000;}
.color2 {color: #040c1c;}
.color3 {color: #42575d;}
.color4 {color: #799ebb;}
.color5 {color: #92c0c2;}*/

/*Podría ser muy útil... xD
.color1 {color: #cac7a5;}
.color2 {color: #dad6ba;}
.color3 {color: #131642;}
.color4 {color: #645778;}
.color5 {color: #aba4b9;}
*/

/*Este también xD
.color1 {color: #000000;}
.color2 {color: #11111e;}
.color3 {color: #525874;}
.color4 {color: #99a8c2;}
.color5 {color: #c0d2d8;}
*/

/*bellos rosa xD
.color1 {color: #1e1e1c;}
.color2 {color: #524e52;}
.color3 {color: #bc908f;}
.color4 {color: #ada372;}
.color5 {color: #d7d8ba;}

.color1 {color: #413c46;}
.color2 {color: #544f5f;}
.color3 {color: #917382;}
.color4 {color: #d7aaba;}
.color5 {color: #e0cfc8;}
*/

/*Azul genial xD
.color1 {color: #09202c;}
.color2 {color: #123d54;}
.color3 {color: #1d6887;}
.color4 {color: #299cc1;}
.color5 {color: #2bcac8;}
*/