@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=Anybody:wght@300;500&family=Asap+Condensed&family=Cookie&family=Cutive+Mono&family=Gudea&family=Handlee&family=Jost&family=Lobster&family=Lobster+Two&family=Manrope:wght@600&family=Monoton&family=Oxygen:wght@300&family=Poppins&family=Questrial&family=Raleway&family=Righteous&family=RocknRoll+One&family=Rubik+Glitch&family=Staatliches&family=Train+One&family=Work+Sans&display=swap');

/*:host{
    background-color: rgba(0, 0, 0, 0.788);
}*//*No funciona aquí tpco el background...*/

html, body {
    height: 95%;
    /*background-color: rgba(0, 0, 0, 0.788);*//*solo aquí funcionó xD*/
    
 }
body {     
    margin: 0px; 
    font-family: Roboto, "Helvetica Neue", sans-serif;        
}


